@model WebBanHangOnline.Models.ViewModels.OrderDetailsViewModel
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<h2>Lịch sử mua hàng</h2>
<div class="row">
    <div class="col-md-12" id="load_data">
        @Html.Action("Partial_Item_Cart", "ShoppingCart")
    </div>
    <div class="col-md-12">
        @if (ViewBag.CheckCart != null)
        {
            <div class="text-right">
                <a href="#" class="btn btn-danger btnDeleteAll">Xóa</a>
                <a href="/thanh-toan" class="btn btn-success">Thanh toán</a>
            </div>
        }

    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>@item.Product.Title</td>
                <td>@item.Quantity</td>
                <td>@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)</td>
                <td>@WebBanHangOnline.Common.Common.FormatNumber(item.Price * item.Quantity, 0)</td>
            </tr>
        }
    </tbody>
</table>

<p>Tổng tiền: @WebBanHangOnline.Common.Common.FormatNumber(Model.TotalAmount, 0)</p>