@model  IEnumerable<WebBanHangOnline.Models.ViewModels.InventoryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Inventory</h2>
<form method="get">
    <div class="form-group">
        <label>Danh mục:</label>
        <select name="ProductCategoryId" class="form-control">
            <option value="">Tất cả</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Title</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Tồn kho ít hơn:</label>
        <input type="number" name="MinimumRemaining" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Lọc</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Sold Quantity</th>
            <th>Remaining Quantity</th>
            <th>Update Quantity</th>
            <th>Cảnh báo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.SoldQuantity</td>
                <td>@item.RemainingQuantity</td>
                <td>
                    @using (Html.BeginForm("UpdateQuantity", "Inventory", new { Area = "Admin" }, FormMethod.Post))
                    {
                        @Html.Hidden("productId", item.ProductId)
                        <input type="number" name="additionalQuantity" value="@item.RemainingQuantity" min="0" class="form-control" />
                        <input type="submit" value="Update" class="btn btn-primary mt-2" />
                    }

                </td>
                <td>
                    @if (item.IsLowStock)
                    {
                        <span class="glyphicon glyphicon-warning-sign text-danger">Cảnh Báo Sắp Hết Hàng</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

